
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
</head>
<body style="background-color:@blue">
<div class="container-fluid">

<div class="row">
<div class="col-md-8">
<h3>Busyness Index Movement Over Last Hour</h3>
<div id="myMorrisLine" style="height: 250px;"></div>
</div>

<div class="col-md-4">
<h1><small>Busyness Index </small>{{busyIndNow}}</h1>
</div>

</div>
</div>
</div>
<div class="row">
<div class="col-md-8">
<h3>Busyness - Weekly</h3>
<div id="myMorLine2" style="height: 250px;"></div>

<div class="col-md-4">
<h3>Dataset Results</h3>
<div id="DoughChart" style="height: 250px;">
</div>
</div>


</div>


<script>
vals = {{ line1bizs }}
new Morris.Line({
// ID of the element in which to draw the chart.
element: 'myMorrisLine',
// Chart data records -- each entry in this array corresponds to a point on
// the chart.

data: [
{time: -60, value: vals[12]},
{time: -55, value: vals[11]},
{time: -50, value: vals[10]},
{time: -45, value: vals[9]},
{time: -40, value: vals[8]},
{time: -35, value: vals[7]},
{time: -30, value: vals[6]},
{time: -25, value: vals[5]},
{time: -20, value: vals[4]},
{time: -15, value: vals[3]},
{time: -10, value: vals[2]},
{time: -5, value: vals[1]},
{time: 0, value: vals[0]},
],

// The name of the data record attribute that contains x-values.
xkey: 'time',
// A list of names of data record attributes that contain y-values.
ykeys: ['value'],
// Labels for the ykeys -- will be displayed when you hover over the
// chart.
ymin: 35,
labels: ['Busyness Index'],
parseTime: false
});

//Morris.Bar({
//element: 'myMorrisBar',
//data: [
//{y: '2006', a: 100, b: 90},
//{y: '2007', a: 75, b: 65},
//{y: '2008', a: 50, b: 40},
//{y: '2009', a: 75, b: 65},
//{y: '2010', a: 50, b: 40},
//{y: '2011', a: 75, b: 65},
//{y: '2012', a: 100, b: 90}
//],
//xkey: 'y',
//ykeys: ['a', 'b'],
//labels: ['Series A', 'Series B']
//});

donuts = {{donutData}}
Morris.Donut({
element: 'DoughChart',

data: [
{label: "CP", value: donuts[0] },
{label:  "M50", value: donuts[1] },
{label: "Noise", value: donuts[2] },
{label: "Bikes", value: donuts[3] } 
]
});


vals2 = {{ line2bizs }}

//x=0
//res=[]
//for(x; x<500; x++){
//	res.push( { no: (500-x), value : vals2[x] } )
//}

new Morris.Line({
// ID of the element in which to draw the chart.
element: 'myMorLine2',
// Chart data records -- each entry in this array corresponds to a point on
// the chart.
//data: res,

data: [
{day: '0', value: 37.5},
{day: '1', value: 35.1},
{day: '2', value: 39},
{day: '3', value: 45.3},
{day: '4', value: 32.1}
],


// The name of the data record attribute that contains x-values.
xkey: 'day',
// A list of names of data record attributes that contain y-values.
ykeys: ['value'],
// Labels for the ykeys -- will be displayed when you hover over the
// chart.
labels: ['Busyness Index']
});

</script>
</body>
</html>