
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Dublin Busyness Index Dashboard</title>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
</head>
<font color="#FFFFFF">
<body style="background-color:#222222">
<div class="container-fluid">

<div class="row">
<div class="col-md-8">
<h3>Busyness Index Movement Over Last Hour</h3>
<div id="myMorrisLine" style="height: 250px;"></div>
</div>

<div class="col-md-4" style="text-align:center;">
<h1><small>Busyness Index </small><br><FONT SIZE=+9>{{busyIndNow}}</FONT></h1>
<h1><small>{{ mon }}</h1>
//<h1><small>Busyness is the physical congestion of a city, with regards to the effect on available space in this city, caused directly or indirectly by human activity.</h1>
</div>

</div>
<div class="row">
<div class="col-md-8">
<h3>Busyness - Past Week</h3>
<div id="myMorLine2" style="height: 250px;"></div>
</div>

<div class="col-md-4">
<h3>Dataset Results</h3>
<div id="DoughChart" style="height: 250px;">
</div>
</div>

</div>
<div class="row">
<div class="col-md-12">
<h3>Busyness - Past 2 Weeks</h3>
<div id="myMorLine3" style="height: 250px;"></div>
</div>

</div>
<div class="row">
<div class="col-md-12">
<h3>Car Parks Movement</h3>
<div id="carparksLine" style="height: 250px;"></div>
</div>

</div>
<div class="row">
<div class="col-md-12">
<h3>DublinBikes Movement</h3>
<div id="bikeLine" style="height: 250px;"></div>
</div>

</div>
<div class="row">
<div class="col-md-12">
<h3>Noise Level Movement</h3>
<div id="noiseLine" style="height: 250px;"></div>
</div>

</div>

</font>
<script>
vals = {{ line1bizs }}
new Morris.Line({
// ID of the element in which to draw the chart.
element: 'myMorrisLine',
// Chart data records -- each entry in this array corresponds to a point on
// the chart.

data: [
 {time: -60, value: vals[12]},
 {time: -55, value: vals[11]},
 {time: -50, value: vals[10]},
 {time: -45, value: vals[9]},
 {time: -40, value: vals[8]},
 {time: -35, value: vals[7]},
 {time: -30, value: vals[6]},
 {time: -25, value: vals[5]},
 {time: -20, value: vals[4]},
 {time: -15, value: vals[3]},
 {time: -10, value: vals[2]},
 {time: -5, value: vals[1]},
 {time: 0, value: vals[0]},
 ],

//data: [
//{time: times1[0] , value: vals[12]},
//{time: times1[1], value: vals[11]},
//{time: times1[2], value: vals[10]},
//{time: times1[3], value: vals[9]},
//{time: times1[4], value: vals[8]},
//{time: times1[5], value: vals[7]},
//{time: times1[6], value: vals[6]},
//{time: times1[7], value: vals[5]},
//{time: times1[8], value: vals[4]},
//{time: times1[9], value: vals[3]},
//{time: times1[10], value: vals[2]},
//{time: times1[11], value: vals[1]},
//{time: times1[12], value: vals[0]},
//],


// The name of the data record attribute that contains x-values.
xkey: 'time',
// A list of names of data record attributes that contain y-values.
ykeys: ['value'],
// Labels for the ykeys -- will be displayed when you hover over the
// chart.
ymin: 50,
ymax: 60,
labels: ['Busyness Index'],
parseTime: false
});

//Morris.Bar({
//element: 'myMorrisBar',
//data: [
//{y: '2006', a: 100, b: 90},
//{y: '2007', a: 75, b: 65},
//{y: '2008', a: 50, b: 40},
//{y: '2009', a: 75, b: 65},
//{y: '2010', a: 50, b: 40},
//{y: '2011', a: 75, b: 65},
//{y: '2012', a: 100, b: 90}
//],
//xkey: 'y',
//ykeys: ['a', 'b'],
//labels: ['Series A', 'Series B']
//});

donuts = {{donutData}}
Morris.Donut({
element: 'DoughChart',
labelColor: '#FFFFFF',
data: [
{label: "CP", value: donuts[0] },
{label:  "M50", value: donuts[1] },
{label: "Noise", value: donuts[2] },
{label: "Bikes", value: donuts[3] } 
]
});


vals2 = {{ line2bizs }}
timz2 = {{ line2times }}
x=0
res=[]
for(total=2000; x<total; x++){
	res.push( { no: timz2[x], value : vals2[x] } )
}

new Morris.Line({
// ID of the element in which to draw the chart.
element: 'myMorLine2',
// Chart data records -- each entry in this array corresponds to a point on
// the chart.
data: res,

ymin: 40,
ymax: 65,
//data: [{day: '0', value: 37.5},{day: '1', value: 35.1},{day: '2', value: 39},{day: '3', value: 45.3},{day: '4', value: 32.1}],


// The name of the data record attribute that contains x-values.
xkey: 'no',

// A list of names of data record attributes that contain y-values.
ykeys: ['value'],

// Labels for the ykeys -- will be displayed when you hover over the
// chart.
labels: ['Busyness Index']
});



vals3 = {{ line3bizs }}
timz3 = {{ line3times }}
x=0
res3=[]
for(total=3000; x<total; x++){
	res3.push( { no: timz3[x], value : vals3[x] } )
}
new Morris.Line({
element: 'myMorLine3',
data: res3,

ymin: 40,
ymax: 65,

xkey: 'no',

ykeys: ['value'],
labels: ['Busyness Index']
});

///////////////////////////////////////
vals4 = {{ cps}}
timz4 = {{ cptimes }}
x=0
res4=[]
for(total=3000; x<total; x++){
	res4.push( { no: timz4[x], value : vals4[x] } )
}
new Morris.Line({
element: 'carparksLine',
data: res4,

ymin: 0,
ymax: 80,

xkey: 'no',

ykeys: ['value'],
labels: ['PercentFull']
});
//////////////////////////////////////////

///////////////////////////////////////
vals5 = {{ bikes }}
timz5 = {{ biketimes }}
x=0
res5=[]
for(total=3000; x<total; x++){
	res5.push( { no: timz5[x], value : vals5[x] } )
}
new Morris.Line({
element: 'bikeLine',
data: res5,

ymin: 20,
ymax: 80,

xkey: 'no',

ykeys: ['value'],
labels: ['PercentEmpty']
});
//////////////////////////////////////////

///////////////////////////////////////
vals6 = {{ noises }}
timz6 = {{ noisetimes }}
x=0
res6=[]
for(total=3000; x<total; x++){
	res6.push( { no: timz6[x], value : vals6[x] } )
}
new Morris.Line({
element: 'noiseLine',
data: res6,

ymin: 20,
ymax: 80,

xkey: 'no',

ykeys: ['value'],
labels: ['PercentBusy']
});
//////////////////////////////////////////

</script>
</body>
</html>